page-booking {
    .mybackgroundcolo
    {
       background-image:url(../../assets/imgs/ts3.jpg);
       background-size:cover;
       background-repeat:no-repeat;
    }
    .item.item-input
    {
       background-color: transparent;
       font-weight: bolder;
    }
}
