page-driver
{
   .mybackgroundcolor
   {
      background-image:url(../../assets/imgs/drive.jpg);
      background-size:cover;
      background-repeat:no-repeat;
   }
   .item.item-input
   {
      background-color: transparent;
      font-weight: bolder;
   }
}